/* Home */
.home-text{
  margin-top: 16%;
  text-align: center;
  
}

#home{
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}



.input-cursor {
  display: inline-block;
  width: 2px;
  height: 60px;
  background-color: #870404;
  margin-left: 8px;
  animation: blink .6s linear infinite alternate;
}

@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}

.name{
  font-size: 4rem ;
  color: #870404;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  letter-spacing: 0.09em;
}

.btn-custom {
  text-decoration: none;
  border-color:#b50a04;
  background-color: rgb(135, 0, 0);
  border-radius: 400px;
  -webkit-border-radius: 500px;
  -moz-border-radius:500px;
  text-transform: uppercase;
  transition: background 0.4s, color 0.4s;
  outline-style: none;
  padding: 10px 20px;
  width: 200px;
    
}

.intro{
  color: rgb(106, 116, 124);
  
  
  
}

