/* min here you'll find Background, Text and Screen adjustments */

/* Background */

body{
    background-color: #000000;
  
}

/* text */

p, h1, h2, h3 {
    color: white;
    padding: 1%;
}

/* Screen ajustment */

html, body, #home {
    height: 100%;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    overflow-x: hidden;   
}


